git rm --cached server/Functions/devices.db
git rm --cached server/Functions/php/port.txt
git rm --cached server/Functions/php/connectedDevices.txt
git rm --cached server/Functions/php/user.txt
git rm --cached device/port.txt
git rm --cached device/Config
git rm --cached Config
